<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>183871505957-93bglibtnlmgnb7ftp9i8dli08dn27nm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183871505957-93bglibtnlmgnb7ftp9i8dli08dn27nm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>183871505957-f4afcfn804071c18ujqjlgb1gth2d7kv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ931rkxwdcUScQBvgGK8aAhBYsM6-kbY</string>
	<key>GCM_SENDER_ID</key>
	<string>183871505957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smlsoft.dedepos</string>
	<key>PROJECT_ID</key>
	<string>dedepos</string>
	<key>STORAGE_BUCKET</key>
	<string>dedepos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183871505957:ios:731413d8fbd52a2907a1cc</string>
</dict>
</plist>